/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 1.9vw;
    }

    /* .header-top-area .container {
        padding: 1% 1.5%;
    }*/
    .navbar .container {
        display: block;
        vertical-align: middle;
    }

    .top-social-cust {
        display: flex !important;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .big-text {
        font-size: 8.889vw;
    }
    .section-padding {
        padding: 5.05% 2%;
    }
    .pogoSlider-slide {
        background-position: 100% 100% !important;
    }
    .navbar-collapse {
        border-top: 1px solid;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse,
    .navbar-toggle {
        border: 2px solid #fff;
        border-radius: 0;
        display: block !important;
    }
    .is-sticky .navbar-header .collapse,
    .is-sticky .navbar-toggle {
        border: 2px solid #1a1a1a;
    }
    .is-sticky .navbar-toggle .icon-bar {
        background: #1a1a1a none repeat scroll 0 0;
    }
    .navbar-header {
        float: none;
        border-bottom: 0px solid #111;
        margin: 0;
        padding: 15px 0;
    }

    .is-sticky .navbar-header {
        border: 0 none;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
    .navbar-toggle .icon-bar {
        background: #fff none repeat scroll 0 0;
    }
    .search-form-area {
        display: none;
    }
    ul#nav li ul {
        display: none;
        opacity: 1;
        top: inherit;
        position: static;
        -webkit-transition: inherit;
        transition: inherit;
        -webkit-transform: inherit;
        transform: inherit;
        width: 100%;
    }
    ul#nav li a {
        color: #fff;
    }
    ul#nav ul li a {
        padding-left: 30px !important;
        font-size: 1.8vw;
    }
    .navbar-brand {
        display: none;
    }
    .navbar-brand.white {
        display: block;
    }
    ul#nav li a {
        color: #fff;
    }
    .is-sticky ul#nav li a {
        font-size: 1.6vw;
    }
    ul#nav li.active > a,
    ul#nav li:hover > a {
        color: #ca3d26;
    }
    ul#nav li.active a::before {
        display: none;
    }
    /*------------------*/
    .mainmenu-area {
        background: #212324 none repeat scroll 0 0;
    }
    .navbar-brand {
        margin-top: auto;
        padding: unset;
        margin-left: auto;
    }
    .is-sticky .navbar-brand {
        margin-top: -10px;
    }
    ul#nav li a {
        padding: 10px;
    }
    .is-sticky ul#nav li a {
        padding: 10px;
    }
    .call-to-action p {
        display: inline-block;
    }
    .slider-area h1,
    .welcome-text h1 {
        font-size: 4.444vw;
    }
    .area-title h2,
    .about-area .area-title h2,
    .resarvation-from-button.text-center h2 {
        font-size: 7vw;
    }
    .about-area h3 {
        font-size: 2.4vw;
    }
    .about-area .area-title {
        margin-bottom: 30px;
        text-align: center;
    }
    .about-img img {
        width: 100%;
    }
    .about-content p {
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
    .right-about-content p {
        padding-top: 0.5%;
        padding-bottom: 10%;
    }
    a.read-more {
        margin-bottom: 30px;
    }
    .promotions-img {
        height: auto;
        max-height: 450px;
        width: 100%;
    }
    .promotions-img img {
        width: 80%;
    }
    .promotions-details {
        padding: 30px;
        width: 60%;
    }
    .area-title {
        margin-bottom: 40px;
    }
    .menus-area.section-padding {
        padding-bottom: 3.5%;
    }
    .food-menu-list-menu ul li {
        font-size: 1.6vw;
    }
    .food-menu-img img {
        width: 100px;
        height: 100px;
    }
    .food-menu-details h3 {
        font-size: 2.6vw;
    }
    .promotions-area .row > div:last-child .single-promotions .read-more {
        margin-bottom: 0;
    }
    .blog-post-img img {
        width: 100%;
    }
    .footer-menu {
        padding-bottom: 0;
        text-align: center;
    }
    .footer-copyright {
        padding-top: 10px;
        text-align: center;
    }
    .footer-address-container {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: max-content;
        padding: 0;
    }
    .footer-address {
        padding-left: 20px;
        padding-right: 20px;
    }
    .table-booking-form input,
    .table-booking-form select {
        margin-bottom: 30px;
    }
    /*-----------------------------
            BLOG PAGE
        ------------------------------*/
    .single-post-pagination .page-pagination {
        margin-bottom: 40px;
    }
    .page-pagination.margin-top {
        margin-top: 40px;
    }
    .main-reservaton-form {
        margin-bottom: 50px;
    }
    .reservation-call-to-action {
        margin-bottom: 40px;
    }

    /*-----------------------------
            MENU SECTION
        ------------------------------*/
  /* .single-menu .single-menu-details {
       margin-bottom: 8%;
       padding-bottom: 12%;
       padding-top: 5%;
       padding-left: 20%;
       display: flex;
       flex-direction: column;
       align-content: space-between;
       justify-content: center;
   }*/
    .headerInfo-contact-social-row {
        display: flex;
        padding-top: 0.8%;
        padding-bottom: 0.8%;
    }
    /*   .navbar-header {
        width: 100%;
    }*/
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: auto;
    margin-top: auto;
}
