/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        font-size: 1.364vw;
    }
    .big-text {
        font-size: 7.273vw;
    }
    .navbar-header {
        width: 33%;
    }
    .navbar-header img {
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    .navbar .container {
        width: auto;
        padding-top: 0.4%;
        padding-bottom: 0.4%;
    }
    .top-social-cust {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .is-sticky .navbar-header img {
        width: 75%;
    }
    ul#nav li a {
        padding: 30px 15px;
        letter-spacing: 0;
        font-size: 1.09vw;
    }
    .is-sticky ul#nav li a {
        padding: 20px 15px;
        font-size: 1.06vw;
    }
    .search-form-area {
        padding: 25px 15px;
    }
    .is-sticky .search-form-area {
        padding: 15px;
    }
    .slider-area h1,
    .welcome-text h1 {
        font-size: 4.545vw;
    }
    .slider-area h2,
    .welcome-text h2 {
        font-size: 6.364vw;
    }
    .about-area .area-title {
        margin-bottom: 2.727vw;
    }
    .about-area .area-title h2 {
        font-size: 5.455vw;
    }
    .about-area .area-title h2 span {
        font-size: 3.636vw;
    }
    .promotions-img {
        max-height: 380px;
        width: 80%;
    }
    .promotions-details {
        height: 350px;
        margin-top: -175px;
        max-height: 350px;
        width: 40%;
    }
    .food-menu-img img {
        width: 80px;
        height: 80px;
    }
    .top-social-bookmark ul li a {
        font-size: 1.5vw;
    }
    .headerInfo-contact-social-row {
        display: flex;
        padding-top: 0.8%;
        padding-bottom: 0.8%;
    }
/*single-menu .single-menu-details {
        padding-top: 10%;
        padding-left: 20%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        margin-bottom: auto;
        padding-bottom: 14%;
    }

    /*.food-menu-details h3 {
    font-size: 1.8vw;
}

.food-menu-details {
    color: #1e1e1f;
    text-align: inherit;
}
.single-menu .single-menu-details {
    padding-top: 10%;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin-bottom: auto;
    padding-bottom: 14%;
}*/ 
}
