/*------------------------------
    PRELOADER
-------------------------------*/

.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.preloader-spinner {
    -webkit-animation: 1.5s linear 0s normal none infinite running loader;
    animation: 1.5s linear 0s normal none infinite running loader;
    width: 60px;
    height: 60px;
    font-size: 35px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -30px;
    padding-top: 12px;
    z-index: 99;
    background: #1a1a1a;
    color: #ca3d26;
}

@-webkit-keyframes loader {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgba(202, 61, 38, 0);
        box-shadow: 0 0 0 0px rgba(202, 61, 38, 0);
    }
    25% {
        -webkit-box-shadow: 0 0 0 0px rgba(202, 61, 38, 0.5), 0 0 0 10px rgba(202, 61, 38, 0.4);
        box-shadow: 0 0 0 0px rgba(202, 61, 38, 0.5), 0 0 0 10px rgba(202, 61, 38, 0.4);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(202, 61, 38, 0.5), 0 0 0 20px rgba(202, 61, 38, 0.3);
        box-shadow: 0 0 0 10px rgba(202, 61, 38, 0.5), 0 0 0 20px rgba(202, 61, 38, 0.3);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgba(202, 61, 38, 0.5), 0 0 0 10px rgba(202, 61, 38, 0.2);
        box-shadow: 0 0 0 10px rgba(202, 61, 38, 0.5), 0 0 0 10px rgba(202, 61, 38, 0.2);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0px rgba(202, 61, 38, 04);
        box-shadow: 0 0 0 0px rgba(202, 61, 38, 04);
    }
}

@keyframes loader {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgba(202, 61, 38, 0);
        box-shadow: 0 0 0 0px rgba(202, 61, 38, 0);
    }
    25% {
        -webkit-box-shadow: 0 0 0 0px rgba(202, 61, 38, 0.5), 0 0 0 10px rgba(202, 61, 38, 0.4);
        box-shadow: 0 0 0 0px rgba(202, 61, 38, 0.5), 0 0 0 10px rgba(202, 61, 38, 0.4);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(202, 61, 38, 0.5), 0 0 0 20px rgba(202, 61, 38, 0.3);
        box-shadow: 0 0 0 10px rgba(202, 61, 38, 0.5), 0 0 0 20px rgba(202, 61, 38, 0.3);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgba(202, 61, 38, 0.5), 0 0 0 10px rgba(202, 61, 38, 0.2);
        box-shadow: 0 0 0 10px rgba(202, 61, 38, 0.5), 0 0 0 10px rgba(202, 61, 38, 0.2);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0px rgba(202, 61, 38, 04);
        box-shadow: 0 0 0 0px rgba(202, 61, 38, 04);
    }
}

.container {
    padding-right: 1.5%;
    padding-left: 1.5%;
}
